<%= simple_form_for(@lecture) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :title %>
    <%= f.association :workshop %>
    <%= f.association :level %>
    <%= f.association :tools, include_blank: "Vælg Værktøj" %>
    <%= f.association :subjects, include_blank: "Vælg Emner" %>
    <%= f.association :languages, include_blank: "Vælg Programmeringssprog" %>
    <%= f.input :body, input_html: { class: 'markdown-editor' }, wrapper_html: { class: 'mt-3' } %>
    <%= f.input :license, input_html: { class: 'markdown-editor' }, wrapper_html: { class: 'mt-3' } %>
    <%= f.input :active, as: :boolean %>
    <%= f.input :printable, as: :boolean %>
    <%= f.input :slides, as: :boolean %>
    <%= f.input :community, as: :boolean, disabled: current_user.volunteer? %>
    <%= label_tag :banner, "Banner" %>
    <%= f.file_field :banner %>
    <%= image_tag banner if banner.present? %>
    <br>
    <%= label_tag :images, "Billeder" %>
    <%= f.file_field :images, multiple: true %>
    <% @lecture.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
    <br>
    <%= label_tag :resources, "Filer" %>
    <%= f.file_field :resources, multiple: true %>
    <% @lecture.resources.each do |resource| %>
      <%= resource.path %>
    <% end %>
    <br>
    <% @lecture.articles.each do |article| %>
      <%= link_to article.title, article, class: 'btn btn-pirate-orange waves-effect waves-light' %>
    <% end %>
    <div id="article_insertions">
      <%= f.simple_fields_for :article_insertions do |article_form| %>
        <%= render 'article_insertion_fields', f: article_form %>
      <% end %>
      <div class="small-br"></div>
      <div class="links">
        <%= link_to_add_association 'Indsæt Ny Artikel', f, :article_insertions, class: 'waves-effect waves-light btn green' %>
        <%= link_to_add_association 'Indsæt Eksisterende Artikel', f, :article_insertions, class: 'waves-effect waves-light btn green', partial: "existing_article_insertion_fields" %>
      </div>
      <div class="small-br"></div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
