<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="col s6 m3">
      <%= f.select :level_id_eq, options_from_collection_for_select(Level.all, "id", "title", @q.level_id_eq), { include_blank: "Alle niveauer" } %>
    </div>
    <div class="col s6 m3">
      <%= f.select :tools_id_eq, options_from_collection_for_select(Tool.all, "id", "title", @q.tools_id_eq), { include_blank: "Alle værktøjer" }  %>
    </div>
    <div class="col s6 m3">
      <%= f.select :subjects_id_eq, options_from_collection_for_select(Subject.all, "id", "title", @q.subjects_id_eq), { include_blank: "Alle emner" }  %>
    </div>
    <div class="col s6 m3">
      <%= f.select :languages_id_eq, options_from_collection_for_select(Language.all, "id", "title", @q.languages_id_eq), { include_blank: "Alle programmeringssprog" }  %>
    </div>
  </div>
  <%= f.submit %>
<% end %>

<div class="row">
  <% @lectures.accessible_by(current_ability).each do |lecture| %>
      <div class="col s12 m6 l4">
        <div class="card workshop-card">
          <div class="card-image">
            <%= link_to lecture do %>
              <img class="center" src="<%= lecture.preview_image %>"/>
              <div class="hover-content">
                <i class="material-icons">info</i>
              </div>
            <% end %>
            <% if can? :manage, lecture %>
              <%= link_to edit_lecture_path(lecture), class: "btn-floating halfway-fab waves-effect waves-light btn-pirate-skyblue" do %>
                <i class="material-icons">mode_edit</i>
              <% end %>
              <%= link_to lecture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating fab-2 halfway-fab waves-effect waves-light btn-pirate-red" do %>
                <i class="material-icons">delete</i>
              <% end %>
            <% end %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">
                <%= lecture.title %>
              </span>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
<% if can? :create, Lecture %>
  <div class="fixed-action-btn vertical">
    <%= link_to new_lecture_path, class: 'btn-floating btn-large waves-effect waves-light btn-pirate-red' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
<% end %>
