<% content_for :subnav do %>
  <li class="tab valign-wrapper">
    <a href="#front">
      <%= @lecture.title %>
    </a>
  </li>
  <% @lecture.article_insertions.each do |article_insertion| %>
    <% if can? :read, article_insertion.article %>
      <li class="tab valign-wrapper">
        <a href="#<%= article_insertion.article.key %>">
          <%= article_insertion.article.title %>
        </a>
      </li>
    <% end %>
  <% end %>
<% end %>

<div class="browser-default">
  <div class="center">
    <%= link_to @lecture.level.title, lectures_path(q: {level_id_eq: @lecture.level.id}), class: "chip" %>
    <% @lecture.tools.each do |tool| %>
      <%= link_to tool.title, lectures_path(q: {tools_id_eq: tool.id}), class: "chip" %>
    <% end %>
    <% @lecture.subjects.each do |subject| %>
      <%= link_to subject.title, lectures_path(q: {subjects_id_eq: subject.id}), class: "chip" %>
    <% end %>
    <% @lecture.languages.each do |language| %>
      <%= link_to language.title, lectures_path(q: {languages_id_eq: language.id}), class: "chip" %>
    <% end %>
  </div>
  <div class="section" id="front">
    <h2>
      <%= @lecture.title %>
    </h2>
    <%= @markdown.render(@lecture.body).html_safe %>

    <% if @lecture.article_insertions.first %>
      <br>
      <a href="#<%= @lecture.article_insertions.first.article.key %>" class="btn right" onclick="window.scrollTo(0, 0);">Start</a>
    <% end %>
  </div>

  <div class="page-break"></div>
  <% @lecture.article_insertions.each.with_index do |article_insertion, index| %>
    <% if can? :read, article_insertion.article %>
      <section class="article" id="<%= article_insertion.article.key %>">
        <div class="avoid-page-break">
          <%= kramdown_to_html(article_insertion.article.body, @lecture.images).html_safe %>
        </div>
        <br>
        <% unless @lecture.article_insertions.first == article_insertion %>
          <a href="#<%= @lecture.article_insertions[index-1].article.key %>" class="btn left" onclick="window.scrollTo(0, 0);">Tilbage</a>
        <% end %>
        <% unless @lecture.article_insertions.last == article_insertion %>
          <a href="#<%= @lecture.article_insertions[index+1].article.key %>" class="btn right" onclick="window.scrollTo(0, 0);">Næste</a>
        <% end %>
      </section>
    <% end %>
  <% end %>

  <% if @lecture.cc_license? %>
    <br>
    <br>
    <div class="card-panel grey lighten-3">
      <p class="grey-text">
        Udgivet under <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="grey-text text-darken-2">Creative Commons license</a>
      </p>
    </div>
  <% end %>

  <div class="fixed-action-btn vertical">
    <% if can? :manage, Lecture %>
      <%= link_to edit_lecture_path(@lecture), class: 'btn-floating btn-large btn-pirate-red' do %>
        <i class="large material-icons">mode_edit</i>
      <% end %>
      <ul>
        <li>
          <%= link_to print_lecture_path(@lecture), class: 'btn-floating green' do %>
            <i class="material-icons">insert_drive_file</i>
          <% end %>
        </li>
        <li>
          <%= link_to slides_lecture_path(@lecture), class: 'btn-floating yellow darken-1' do %>
            <i class="material-icons">slideshow</i>
          <% end %>
        </li>
      </ul>
    <% else %>
      <% if @lecture.printable? %>
        <%= link_to print_lecture_path(@lecture), class: 'btn-floating green', style: "margin-right: 10px" do %>
          <i class="material-icons">insert_drive_file</i>
        <% end %>
      <% end %>

      <% if @lecture.slides? %>
        <%= link_to slides_lecture_path(@lecture), class: 'btn-floating yellow darken-1' do %>
          <i class="material-icons">slideshow</i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
