<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'shared/menu' %>
    <%= render 'shared/flash' %>
    <%= render 'shared/sidenav' %>
    <div class="container background-container">
      <div class="hide-on-small-only" id="space-invader"></div>
      <div class="hide-on-small-only" id="pacman"></div>
    </div>
    <div class="container">
      <% if content_for? :subnav %>
        <div class="row">
          <div class="col s12 m8">
            <%= yield %>
          </div>
          <div class="col hide-on-small-only m4">
            <ul class="tabs tabs-fixed-width tab-demo tabs-vertical card">
              <%= yield :subnav %>
            </ul>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>

      <% unless current_user.present? %>
        <%= link_to new_user_session_path, class: "fixed-left-action-btn" do %>
          <i class="material-icons grey-text">login</i>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
